openapi: 3.0.0
info:
  description: "GolJoアプリのAPI"
  version: 1.0.0
  title: Gol-Jo
  license:
    name: MIT
servers:
  - url: "https://admin.aeration-japan.co.jp/api/v1"
paths:
  /register:
    $ref: "./components/paths/member.yml#/SignUp"

  # Cast
  /casts/email/verify/{id}:
    $ref: "./components/paths/cast.yml#/VerifyEmail"
  /casts/refresh:
    $ref: "./components/paths/cast.yml#/RefreshToken"
  /casts/login:
    $ref: "./components/paths/cast.yml#/Login"
  /casts/logout:
    $ref: "./components/paths/cast.yml#/Logout"
  /casts/me:
    $ref: "./components/paths/cast.yml#/Me"
  /casts/password/email:
    $ref: "./components/paths/cast.yml#/SendResetMail"
  /casts/password/reset:
    $ref: "./components/paths/cast.yml#/ResetPassword"

  # Guest
  /guests/email/verify/{id}:
    $ref: "./components/paths/guest.yml#/VerifyEmail"
  /guests/refresh:
    $ref: "./components/paths/guest.yml#/RefreshToken"
  /guests/login:
    $ref: "./components/paths/guest.yml#/Login"
  /guests/logout:
    $ref: "./components/paths/guest.yml#/Logout"
  /guests:
    $ref: "./components/paths/guest.yml#/Me"
  /guests/password/email:
    $ref: "./components/paths/guest.yml#/SendResetMail"
  /guests/password/reset:
    $ref: "./components/paths/guest.yml#/ResetPassword"
  /guests/credit:
    $ref: "./components/paths/guest.yml#/RegisterCreditCard"
  /guests/points:
    $ref: "./components/paths/guest.yml#/PurchasePoint"

  # Masster
  /masters:
    $ref: "./components/paths/master.yml#/All"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Credentials or access token for API
